<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                © {{ "now"|date("Y") }} Makutatrans <span class="d-none d-sm-inline-block"> - Créé avec <i
                            class="mdi mdi-heart text-danger"></i> par WOLF TECHNOLOGIES.</span>
            </div>
        </div>
    </div>
</footer>